%script#my-view-template{type: "text/html"}
    .row
        %label First Name:
        %span {{firstName}}
    .row
        %label Last Name:
        %span {{lastName}}
    .row
        %label Email:
        %span {{email}}
